@import '~bootstrap/scss/bootstrap';
$body-bg-color: $gray-200;
@media (max-width: 576px) {}
@media (max-width: 720px) {}
@media (max-width: 960px) {}

html {
  height: 100%;
}

body {
  background-color: $body-bg-color;
  height: 100%;
}

.box {
  background-color: green;
  border: 1px solid $white;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0;
  height: 33%;
  font-size: 330%;
}

.container {
  max-height: 33%;
  max-width: 33%;
}

.nav {
  border: 5px solid black;
  text-align: center;
  display: block;
  color: white;
  background-color: green;

  & > * {
    text-align: center;
  }
}

.row {
  height: 100%;
}

.landing-page {
  margin: 0;
  height: calc(100% - 56px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-button {
  margin: 10%;
  width: 25%;
  height: 25%;
  color: white;
  background-color: violet;
  border-radius: 5%;

  &:hover {
    color: black;
  }
}