@import '~bootstrap/scss/bootstrap';
$body-bg-color: $gray-200;
$third: calc(100%/3);

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: $body-bg-color;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: linear-gradient(to top, transparent, 80%, black), url("https://i.imgur.com/CRJ99bb.jpg");
  background: linear-gradient(to bottom, transparent, 80%, black), url("https://i.imgur.com/CRJ99bb.jpg");
  background-size: cover;
}

.big-button {
  color: white;
  background-color: violet;
  border-radius: 5%;

  &:hover {
    color: black;
  }
}

.box {
  background-color: rgba(0,255,0,.4);
  border: 1px solid $white;
  color: white;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  padding: 0;
  font-size: 5vh;

  &:hover {
    background-color: rgba(0,255,0,.5);
  }
}

#board-container-0 {
  height: 50vh;
  width: 50vh;
}

button {
  word-wrap: break-word;
  color: white;
}

.container {}

.demo-board > *:hover {
  // background-color: rgba(0,255,0,.9);
  background-color: black;
}

.demo-box {
  background-color: rgba(0,255,0,.2);
  color: white;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  border: 1px solid white;
  margin: -1px;

  &:hover {
    background-color: rgba(0,255,0,.5);
  }
}

.display {
  max-width: 100vw;
  max-height: 100vw;
  width: 30vw;
  height: 30vw;
  margin: 1vw;
  padding: 0;
}

.error {
  display: flex;
  color: red;
  font-weight: bold;
  height: 100px;
  text-align: center;
  background-color: white;
}

.error-toggle {
  background-color: rgba(255,0,0,.5);
  color: white;
}

flex {
  display: flex;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: black;
  color: white;
  width: 100vw;

  & > * {
    text-align: center;
    text-decoration: none;
    color: white;
  }

  & > *:hover {
    color: blue;
    text-decoration: none;
    cursor: pointer;
  }
}

h1 {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h3 {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 2vw;
}

.nav {
  border: 5px solid black;
  text-align: center;
  display: block;
  color: white;
  background-color: green;
  height: 10vh;

  & > * {
    text-align: center;
    font-size: 8vh;
  }
}

.get-games {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  & > * {
    margin: 5%;
    flex-wrap: wrap;
  }
}

.landing-page {
  margin: 0;
  height: 90vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mini-board {
  text-align: center;
}

#navbar-text {
  color: white;
}

.navbar {
  background-color: rgba(0,0,180,1);
  border-color: transparent;
  color: white;
}

.nav-item {
  margin: 0 1vw;
  cursor: pointer;
}

.row {
  height: 100%;
  border: 0;
  padding: 0;
}
@media (max-width: 960px) {
  #board-container-0 {
    height: 75vw;
    width: 75vw;
  }

  .board-container {
    max-height: calc(100%/3);
    max-width: calc(100%/3);
  }

  .demo-container {
    max-height: calc(100%/3);
    max-width: calc(100%/3);
  }

  .display {
    width: 30vw;
    height: 30vw;
  }

  .get-games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 720px) {
  #board-container-0 {
    height: 95vw;
    width: 95vw;
  }

  .board-container {
    max-height: calc(200%/3);
    max-width: calc(200%/3);
  }

  .demo-container {
    max-height: calc(200%/3);
    max-width: calc(200%/3);
  }

  .display {
    width: 50vw;
    height: 50vw;
  }

  .get-games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  #board-container-0 {
    max-height: 95vw;
    max-width: 95vw;
  }

  .board-container {
    max-height: 100%;
    max-width: 100%;
  }

  .demo-container {
    max-height: 100%;
    max-width: 100%;
  }

  .display {
    width: 90vw;
    height: 90vw;
  }

  .get-games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}