@import '~bootstrap/scss/bootstrap';
$body-bg-color: $gray-200;
$third: calc(100%/3);

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: $body-bg-color;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.big-button {
  color: white;
  background-color: violet;
  border-radius: 5%;

  &:hover {
    color: black;
  }
}

.box {
  background-color: green;
  border: 1px solid $white;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0;
  height: $third;
  width: $third;
  font-size: inherit;
}

#board-container-0 {
  height: 50vw;
  width: 50vw;
}

.container {
  max-height: $third;
  max-width: $third;
}

.display {
  max-width: 100vw;
  max-height: 100vw;
  width: 30vw;
  height: 30vw;
  margin: 1vw;
  padding: 0;
}

.error {
  display: flex;
  color: red;
  font-weight: bold;
  height: 100px;
  text-align: center;
}

.error-toggle {
  background: red;
  color: white;
}

.nav {
  border: 5px solid black;
  text-align: center;
  display: block;
  color: white;
  background-color: green;
  height: 10vh;

  & > * {
    text-align: center;
    font-size: 8vh;
  }
}

.get-games {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  & > * {
    margin: 5%;
    flex-wrap: wrap;
  }
}

.landing-page {
  margin: 0;
  height: 90vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mini-board {
  text-align: center;
}

.row {
  height: 100%;
  border: 0;
  padding: 0;
}
@media (max-width: 960px) {
  #board-container-0 {
    height: 75vw;
    width: 75vw;
  }

  .board-container {
    max-height: calc(100%/3);
    max-width: calc(100%/3);
  }

  .display {
    width: 30vw;
    height: 30vw;
  }

  .get-games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 720px) {
  #board-container-0 {
    height: 95vw;
    width: 95vw;
  }

  .board-container {
    max-height: calc(200%/3);
    max-width: calc(200%/3);
  }

  .display {
    width: 50vw;
    height: 50vw;
  }

  .get-games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  #board-container-0 {
    max-height: 95vw;
    max-width: 95vw;
  }

  .board-container {
    max-height: 100%;
    max-width: 100%;
  }

  .display {
    width: 90vw;
    height: 90vw;
  }

  .get-games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}